.MatchPage {
  display: grid;
  grid-template-columns: 1fr 7fr;
  gap: 30px;
  margin: 20px 0;
  padding: 0 20px;

  .choose-year {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .year-selector {
    justify-self: end;
  }

  .match-page-header {
    margin-bottom: 16px;
  }

  .win-loss-counter {
    display: flex;
    align-items: center;
    margin: 16px 0;

    div {
      margin: 0 15px;
      padding: 5px 10px;
    }

    .total-count {
      background-color: white;
      color: black;
    }

    .win-count {
      background-color: #1c7043;
    }

    .loss-count {
      background-color: #9a3145;
    }
  }
}
